exportPattern("^[[:alpha:]]+")
useDynLib(RMI, 
kernel_cl_pos_multi,
kernel_cl_lin_multi,
kernel_cle_alpha_multi,
ini_mu_pos_multi,
kernel_huber_pos_multi,
kernel_tukey_pos_multi,
kernel_huber_lin_multi,
kernel_tukey_lin_multi,
kernel_huber_alpha_multi,
kernel_tukey_alpha_multi)
